<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/gym_hibernate</property>
        <property name="hibernate.connection.username">costigan</property>
        <property name="hibernate.connection.password">BillyCostigan</property>

        <!-- Hibernate settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- create, update, validate -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entities -->
        <mapping class="com.hibernate.gymapp.model.User"/>
        <mapping class="com.hibernate.gymapp.model.Trainee"/>
        <mapping class="com.hibernate.gymapp.model.Trainer"/>
        <mapping class="com.hibernate.gymapp.model.Training"/>
        <mapping class="com.hibernate.gymapp.model.TrainingType"/>
    </session-factory>
</hibernate-configuration>
